{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth-styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}StoryStream - Register{% endblock %}

{% block content %}
<div class="center-wrapper">
    <div class="form-error-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>

                    {% if category == 'success' %}
                        <script>
                            const homeUrl = "{{ url_for('auth.login') }}"; 
                            const delayTime = 1000;

                            setTimeout(() => {
                                window.location.href = homeUrl;
                            }, delayTime);
                        </script>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
  <div class="auth-container">
    <h1 class="auth-title">Create Account</h1>
    <p class="auth-subtitle">Join us and start your journey today.</p>

        <form class="auth-form" method="POST">
      
            {{ form.hidden_tag() }} 
            
            <div class="input-group">
        {{ form.name.label }}
        
                {% set name_class = 'input-group-input' %}
                {% if form.name.errors %}
                    {% set name_class = name_class + ' is-invalid' %}
                {% endif %}
                
        {{ form.name(class_=name_class, placeholder='Full Name', id='register-name') }}
                
                {% for error in form.name.errors %}
                    <span class="form-error-message">{{ error }}</span>
                {% endfor %}
      </div>

            <div class="input-group">
        {{ form.email.label }}
        
                {% set email_class = 'input-group-input' %}
                {% if form.email.errors %}
                    {% set email_class = email_class + ' is-invalid' %}
                {% endif %}
                
        {{ form.email(class_=email_class, placeholder='you@example.com', id='register-email') }}
                
                {% for error in form.email.errors %}
                    <span class="form-error-message">{{ error }}</span>
                {% endfor %}
      </div>

            <div class="input-group">
        {{ form.password.label }}
        
                {% set password_class = 'input-group-input' %}
                {% if form.password.errors %}
                    {% set password_class = password_class + ' is-invalid' %}
                {% endif %}

        {{ form.password(class_=password_class, placeholder='•••••••• (Min 8 characters)', id='register-password') }}

                {% for error in form.password.errors %}
                    <span class="form-error-message">{{ error }}</span>
                {% endfor %}
      </div>

            <div class="input-group">
        {{ form.confirm.label }}
        
                {% set confirm_class = 'input-group-input' %}
                {% if form.confirm.errors %}
                    {% set confirm_class = confirm_class + ' is-invalid' %}
                {% endif %}

        {{ form.confirm(class_=confirm_class, placeholder='•••••••• (Retype)', id='retype-password') }}

                {% for error in form.confirm.errors %}
                    <span class="form-error-message">{{ error }}</span>
                {% endfor %}
      </div>

      <button type="submit" class="btn-primary auth-submit-btn">Register</button>

      <div class="auth-footer">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}" class="auth-link">Log In</a></p>
      </div>
    </form>
  </div>
</div>


{% endblock %}
